h1{
    color: #333;
    font-size: 24px;
    text-align: center;
}
form{
    border: #007BFF solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap:20px;
    width: max-content;
    margin: 0 auto;
}
label{
    font-size: 18px;
    color: #555;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}